.ListItemEdit {
  &-text {
    width: 90%;
    font-size: 1.2em;
    border-radius: 4px;
    padding-left: 4px;
    margin: 8px 0 24px 0;
  }
  &-controls {
    display: flex;
    justify-content: space-evenly;
  }
  &-control {
    font-size: 1.1em;
    height: 18px;
    line-height: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    min-width: 20%;
  }
}
