:root {
  --accent-color-1: #61dafb;
  --color-1: #eee;
  --color-2: #ccc;
  --bg-color-1: #222;
  --bg-color-2: #111;
}
.light {
  --color-1: #222;
  --color-2: #111;
  --bg-color-1: #eee;
  --bg-color-2: #ddd;
}
.dark {
  --color-1: #eee;
  --color-2: #ddd;
  --bg-color-1: #222;
  --bg-color-2: #111;
}

html, body, #root {
  height: 100%;
}
body {
  color: #eee;
  background-color: #222;
  color: var(--color-1);
  background-color: var(bg-color-1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
