:root {
  --accent-color-1: #3d9970;
  --color-1: #eee;
  --color-2: #ccc;
  --bg-color-1: #222;
  --bg-color-2: #111;
}
.light {
  --color-1: #222;
  --color-2: #111;
  --bg-color-1: #eee;
  --bg-color-2: #ddd;
}
.dark {
  --color-1: #eee;
  --color-2: #ddd;
  --bg-color-1: #222;
  --bg-color-2: #111;
}

html {
  height: 100%;
}
body {
  height: 100%;
  color: #eee;
  background-color: #222;
  color: var(--color-1);
  background-color: var(bg-color-1);
}
